.contacts {
    padding: 120px 0 90px 0;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        padding: 1px 0 0 12px;
        @include before_circle;
    }
    &__link{
        svg path {
            transition: fill 0.4s ease-in-out;
            fill: initial; 
        }
        &:hover {
            svg path {
                fill: $main-color;
            }
        }
    }
    &__resume{
        display: block;
        width: max-content;
        a{
            text-decoration: none;
            color: black;
        }
    }
    &__social{
        width: 300px;
        display: flex;
        justify-content: space-around;
    }
}